
@{
    ViewData["Title"] = "Page2";
}


<div class="container">
    <div class="row text-center">
        <h2>Learning Platform</h2>
        <p>
            Learn to read faster!    
        </p>
    </div>
    <div class="row">
            
    </div>
</div>


